@model AppleMVC.Models.ProductDetail

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style>
    h2 {
        background: lightgreen;
        font-size: 50px;
        text-align: center;
        justify-items: center;
    }

    div {
        padding: 5px;
    }
</style>

<h2>QUẢN LÝ SẢN PHẨM</h2>

<h3>Bạn Thật Sự Muốn Xoá Sản Phẩm Này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Sản Phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>

        <dt>
            Màu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color.ColorName)
        </dd>

        <dt>
            Kích Thước Màn Hình
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Screen.ScreenName)
        </dd>

        <dt>
            Dung Lượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Memory.MemoryName)
        </dd>

        <dt>
            Giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            Tên AppleCare
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppleCareName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xoá" class="btn btn-danger" />
            @Html.ActionLink("Danh sách", "Index", null, new { @class = "btn btn-info" })
        </div>
    }
</div>